@tailwind base;
@tailwind components;
@tailwind utilities;

/* googl font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans,wght@0,300..800;1,300..800&display=swap');

/* Additonal custom styles */
.max-width {
    @apply max-w-[1280px] mx-auto px-4;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.slick-arrow {
    color: black;
}
.slick-arrow:hover {
    color: black;
}
